body {
	color: #111;
	font: 1em 'Akzidenz-GroteskBQRegular', sans;
    margin: 100px 100px 20px 20px;
}


@font-face {
    font-family: 'Akzidenz-GroteskBQRegular';
    src: url('../font/akzidenzgrotesk-regular-webfont.eot');
    src: url('../font/akzidenzgrotesk-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/akzidenzgrotesk-regular-webfont.woff') format('woff'),
         url('../font/akzidenzgrotesk-regular-webfont.ttf') format('truetype'),
         url('../font/akzidenzgrotesk-regular-webfont.svg#Akzidenz-GroteskBQRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


a {
	color: #525252;
	text-decoration: none;
	background-color: #aedff6;
}

a:hover,a:focus {
	background-color: #63cff2;
}

a:active,a:visited {
	
}

/* ** ** Header Styles ** ** */
h1,h2,h3,h4,h5 {
	margin: 0.3em 0 0 0;
	line-height: 1.1em;
	font-weight: normal;
}

h1 {
	font-size: 2.52em;
}

h2 {
	font-size: 1.952em;
}

h3 {
	font-size: 4em;
}

h4 {
	font-size: 1.452em;
}

h5 {
	font-size: 1.252em;
}

h6 {
	font-size: 1.52em;
}

/* ** ** ul li's ** ** */
ul {
	list-style: none;
}

ul,ol {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

li ul,li ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* ** ** custom select color ** ** */
::selection {
	background: #f0f0f0; /* Safari */
}

::-moz-selection {
	background: #f0f0f0; /* Firefox */
	color: #f0f0f0;
}

/* ** ** paragraph styling ** ** */
p {
	margin: 0 0 .12em;
}

strong {
	font-weight: 600;
}

em,dfn {
	font-style: italic;
}

dfn {
	font-weight: 600;
}

sup,sub {
	line-height: 0;
}

abbr,acronym {
	border-bottom: 1px dashed #ccc;
}

address {
	margin: 0 0 1.5em;
	font-style: italic;
}

del {
	color: #666;
}

pre,code,tt {
	font: 1em 'andale mono', 'lucida console', monospace;
	line-height: 1.5;
	display: block;
}

code {
	background-color: #eee;
	display: inline;
	padding: 0px 2px 1px 2px;
	line-height: 1.1em;
}

pre {
	margin: 1.5em 0;
	white-space: pre;
}














/* forms*/
button {
	border: 0;
	cursor: pointer;
	color: #fff;
	font-family: 'Akzidenz-GroteskBQRegular', sans;
	font-size: .8em;
	letter-spacing: .15em;
	text-transform: uppercase;
	padding: 9px 20px 7px 20px;
	background-color: #009dd5;
	margin: 0;
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 2;
	-webkit-appearance: none;
}

button:hover {
	color: black;
	background-color: #00bcff;
}
input {
	-moz-border-radius: 0;
	border-radius: 0;
}
input,select {
	-webkit-appearance: none;
	border: 1px #ccc solid;
	font-family: 'Akzidenz-GroteskBQRegular', sans;
	font-size: 3em;
	padding: 7px;
    width: 90%;
}

input[type='password'] {
	letter-spacing: .2em;
}

input:focus {
	outline: 5px auto #999;
}



.spaced {
    margin: 0 0 30px 0;
    max-width: 1000px;
}

.progress {
    width: 100%;
    height: 35px;
    background-color: #eee;
}
.progress-meter {
    width: 1%;
    height: 100%;
    background-color: #00b3e9;
}


#generating, #complete {
    display: none;
}

#info {
    font-size: .9em;
    color: #999;
}

#info.error {
    color: #880000;
    font-size: 1.5em;
    font-weight: bold;
}